@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

@media screen and  (max-width: 998px) {

}
@media screen and  (max-width: 768px) {
    
}
@media screen and  (max-width: 576px) {
    
}




body {
    font-family: 'Lato', sans-serif;
    background: url(https://lh3.googleusercontent.com/VI1gn15mGY7XaDfFsgfwcL9C1SfV_vynzoPsct4a3vz9MI7l_Dgb8D_k_SKfUEL1_IuBRlCJZqabICD1vVoiYL9VqG4lJz_0w6aMaxm0kjc3YXSdD7QRki_IlOQVoairUeecm9z6SL9-0wYGTX6CE84XeAf8TVNMdv4U6vDm3U9zgLKedYldSYh0xd2CDuogykpsqmStvuJ9G7pC_Kue0KXqrmSDWY-zDCcE8AF58KPO2zfvQlfZhNdzp8BQNk-74rufNYQjyiSGmdun-PJg_o_JekIjPexs2gTwMtLdxJ5_-X3-mSow821CMkNhz8au-J5D6nCFsg_BLOHwOBiPD7Da7plQ5szRVxa9Jjj1rXDA5-qdwy0RV5WGIo2RqNf8lfHh-Lv5jVsQ3cN3LuPIZS66FBalG7ncWG-KgIpL0oi6VNGpXuMIaQQs_wVkgrW95Ph2r9IeYtgo2F-51Y4HRPVEiPnijsSit-D8YPC7_qmoLWZHmFMqOVE_6xCcvKqjaqYYU25K7ztlrlQdQ_O4DWaZtM7PmPHA7ezph_zI_fLMgM_VnFA743-tu-JLdxBzOrAeDQSmuTiV8C8kiZSkA41x39o0DRO96tvJr176KKYe822S2saHamYgcMJER9KihfdAbXaoU5TCjtn97QBAyKJaAorvwWP1CpyUeVwGHJNJ8x4sRqjBZSaKZ8K4AxJ6N8ObV77XbC_hL-yPAnbHklMji_DLvoaVd2qceyDqHjPwGhWlHTR0MoYZkmqqIVnNpVt9PfGokvYd0RUGqkV-dOx37ZcQuqSn02KfThr-A8-Saz9J00HPdkQIFLIr_xp89DmUejCNHwH_syx-Ab-7K_mZJPVMD2JkS9WQJ9dWS6KgY_R9Q_OkFFjD7lLxi1s1lL8y6p1Kg9FjFJQGhnl8vF0ECYi3t9s5NbleDDl9WQI=w1015-h649-no?authuser=0)no-repeat center center / cover;
    padding: 66px;
}

.container {
   
    width: center;
    min-height: 900px;
    border: 3px solid rgb(139, 133, 133);
    margin: auto;
    background: rgb(161, 161, 161);
}


.image-center{
    display: block;
    margin: auto;

}
.image-align {
    text-align: center;
    image-orientation: center;
}

.image-flex {
    display: flex;
    align-items: center;
    justify-content: center;
}




.nav ul {
    display: flex;
    background: rgb(161, 161, 161);
    margin: 9px 0;
    align-items: center;
    justify-content: center;
}

.nav li a {
    display: flex;
    padding: 13px;
    text-decoration: none;
    color: rgb(11, 58, 42);
    font-weight: bold;
    border-right: 1px solid rgb(11, 58, 42);
    
}

.nav li a:hover {
    background: rgb(10, 94, 64);
}


.box50 {
    justify-content: center;
    align-items: center;
    display: flex;
    height: auto;
    margin: 0 auto;
    width: 50%;
    
}

.column {
    float: left;
    width: 50%;
    margin-left: 33px;
    margin-right: 33px;
    margin-top: 33px;
    margin-bottom: 33px;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }


  .row {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .row2 {
    display: flex;
  }

 
  .column2 {
    float: center;
    width: 100%;
    margin-left: 13px;
    margin-right: 13px;
    margin-top: 13px;
    margin-bottom: 13px;
  }

  .image-warp {
    width: auto;
    height: auto;
    border: 1px solid gray;

  }



  .sticky {
    position: sticky;
    height: 63px;
  }

  .header {
    display: flex;
    height: 96px;
    border: 3px solid rgb(66, 3, 75);
}

p {
  height: 30px;
  
}

.button {
  background-color: #8C3CF5; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}




